*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #282828 0%, #f5fafa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.box-age{
    position: relative;
    background: rgba(255,255,255,.6);
    width: 768px;
    backdrop-filter: blur(15px);
    padding:20px;
    border-radius: 20px;
    transition: width 500ms ease;
}
.box-age h4{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
}
.box-age h4::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width:10%;
    height: 1px;
    background: #9d8e8e;
}
.box-age:hover h4::after{width: 20%}
.box-age .date-title{
    position: relative;
    display: flex;
    align-items: center;
}
.box-age .date-title input{
    margin: 0 10px;
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
    transition: box-shadow 500ms ease;
}
.box-age .date-title input:focus{
    outline: none;
    box-shadow: 0 0 10px #292929;
}
.box-age .date-title span
{
    font-size: 1.15rem;
    display: inline-block;
    text-transform: uppercase;
}
#chooseDate{margin-left: 25%;}
.age-calc
{
    position: relative;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 2s, opacity 3s, margin 250ms;
}
.age-calc.expand{
    margin-top:30px;
    max-height: 1000px;
    opacity:1;
}
.age-calc .box-options{
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    width:222px;
    transition: 500ms ease;
}

.age-calc .box-options p.age-title
{
    position: relative;
    text-align: center;
    background: #282828;
    color: #fff !important;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.age-calc .box-options:nth-child(even) p.age-title
{
    background:#292929;
}
.age-calc .box-options .value{
    text-align: center;
    padding: 30px 20px;
    font-size: 1.5rem;
    transition: 500ms ease;
}


@media (max-width: 768px)
{
    body{
        display: block;
        margin: 2rem 0;
    }
    .box-age{
        width: 80%;
        margin: 0 auto;
    }
    .age-calc .box-options{
        width: 200px;
        margin: 15px auto;
    }
    .age-calc .box-options p.age-title{
        padding: 10px 20px;
        font-size: 1rem;
    }
    .age-calc .box-options .value{
        padding: 30px 20px;
        font-size: 1rem;
    }
    #chooseDate{margin-left: auto;}
}

@media (max-width: 576px)
{
    .box-age
    {
        width: 60%;
        margin: 0 auto;
    }
    .box-age .date-title
    {
        display: block;
    }
    .box-age .date-title input
    {
        margin: 10px 0;
        width: 100%;
    }
    .age-calc .box-options{
        width: 180px;
        margin: 8px auto;
    }
    .age-calc .box-options p.age-title{
        padding: 10px 5px;
        font-size: .8rem;
    }
    .age-calc .box-options .value
    {
        padding: 30px 5px;
        font-size: .9rem;
    }

}






